<div class="container">
    <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <ngb-alert #staticAlert *ngIf="dangerMessage" type="danger" (closed)="dangerMessage = ''">{{ dangerMessage }}</ngb-alert>
        <form>
            <div>
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="from-control" name="nombre" [(ngModel)]="usuarios.nombre" >
                </div>
            </div>
            <div>
                <label for="edad" class="col-form-label col-sm-2">Edad</label>
                <div class="col-sm-6">
                    <input type="text" class="from-control" name="edad" [(ngModel)]="usuarios.edad" >
                </div>
            </div>
            <div>
                <label for="fecha_ingreso" class="col-form-label col-sm-2">Fecha ingreso</label>
                <div class="col-sm-6">
                    <input type="date" class="from-control" name="fecha_ingreso" [(ngModel)]="usuarios.fecha_ingreso" >
                </div>
            </div>
            <div>
                <label for="cargo" class="col-form-label col-sm-2">Cargo</label>
                <div class="col-sm-6">
                    <select [(ngModel)]="selectCargo" #selectCargos  (change)="getCargo(selectCargo);"  name="selectCargo">
                        <option *ngFor="let c of cargos;" [value]="c.idCargo">{{c.descripcion}}</option>
                     </select>
                    <input type="hidden" class="from-control" name="usuarios.cargo" [(ngModel)]="usuarios.cargo" >
                </div>
            </div>
            <br>
            <button class="btn btn-success" role="button" (click)='create()' *ngIf="!usuarios.idUsuario else elseBlock">Registrar</button>
            <ng-template #elseBlock>
                <button class="btn btn-success" role="button" (click)='update()'>Actualizar</button>
            </ng-template>
            
        </form>
    </div>
    
</div>
